c+p.cmd
C:\Users\marka\Downloads\Lab\ShowHerb\media\images\Sensor-with-Water.mp4
C:\Users\marka\Downloads\Lab\ShowHerb\media\images\Water.mp4
C:\Users\marka\Downloads\Lab\ShowHerb\media\images\Valve-with-Water.mp4